body {
    background-color: pink;
    display: flex;
    flex-direction:column;
    align-items:center;
margin-top:  100px;


}

h1{
    color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 100px;
}

h2{ color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
margin: 1px;
}

h3{color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
margin: 20px;

}

h4{color: white;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 30px;
margin: 15px;

}


a {
    font-size:80px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-style: solid;
    border-color:aliceblue;
    border-width: 6px;
    padding: 10px;
    box-shadow: 5px 5px 5px rgb(190, 208, 190);
    background-color: rgb(236, 149, 162);
    border-radius: 15px;
    text-decoration: none;
    color:aliceblue
    
    


}


.hyperlink {
display:flex;
flex-direction: column;
margin: 50px;
gap: 50px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}


img { 
 
 display:flex;
 height: 500px;
    width: 500px;
    border-style:dotted ;
border-width:5px ;
border-color: white;
}



.examples{

    display: flex;
    flex-direction:row;
    gap: 10px;
   
}

p{
text-align: center;
    font-size: 25px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(255, 255, 255);
margin: 2px;


}

p2{

    text-align: center;
    font-size: 25px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(255, 255, 255);
}

p3 {
    text-align: center;
    font-size: 25px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color: rgb(255, 255, 255);
margin: 1px;
}